.btn-link,
.btn-link:hover,
.btn-link:focus {
  padding: 0;
  color: #007bff;
  text-decoration: none;
}

#image-thumbnail {
  max-width: 400px;
  width: 100%;
}

div.detail-text {
  white-space: pre-wrap;
  font-size: 0.875rem;
  color: #aaa;
}
