.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 16px 0;
}
.timeline-container::after {
  background-color: #e17b77;
  content: "";
  position: absolute;
  left: 76px;
  width: 4px;
  height: 100%;
}
