.timeline-item {
  align-self: flex-start;
  justify-content: flex-end;
  padding-left: 112px;
  padding-right: 16px;
  position: relative;
  margin: 10px 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 12px;
  position: relative;
  text-align: left;
}
.timeline-item-content::after {
  content: " ";
  background-color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: auto;
  left: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: auto;
  right: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  white-space: pre-wrap;
  position: absolute;
  top: calc(50% - 16px);
  right: auto;
  left: -108px;
  width: 60px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}
.timeline-item-content a::after {
  content: " ▼";
  font-size: 12px;
}
.timeline-item-content .circle {
  background-color: #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 14px);
  right: auto;
  left: -44px;
  width: 28px;
  height: 28px;
  z-index: 100;
}

.timeline-item-content .circle svg {
  color: #fff;
  width: 16px;
  height: 16px;
  margin: 6px;
}
